@import '../../common/colors.scss';



.movie__list, .show__list{
    margin: 20px 20px;
    margin-bottom: 50px;
    h2{
        text-align: center;
        color: $font-primary;
        margin-bottom: 20px;
        font-weight: 400;
    }
}

.movie__area, .show__area{
 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 15px;
}