@import '../../common/colors.scss';

.footer{
    color: $font-primary;
    background-color: $secondary-color;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid $font-primary;
}